/* Generale*/

body {
  font-size: 16px;
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  border-bottom: 1px solid #f3735f;
  margin-bottom: 50px;
}
.container {
  width: 1024px;
  margin: auto;
}

nav img {
  width: 200px;
  height: 31, 47px;
  object-fit: cover;
  object-position: center;
}

section {
  background-color: white;
  width: 1024px;
  height: 1179px;
  padding-top: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  object-position: center;
  color: #393c6c;
  margin-bottom: 10px;
}
.images {
  text-align: center;
}
section img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
}

.grey-color {
  text-align: center;
  background-color: grey;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 350px;
  margin-right: 250px;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

ul {
  list-style: inside;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}
